# Hardcover API Token
# Get your token from https://hardcover.app/account/api
HARDCOVER_TOKEN=
# See https://lazylibrarian.gitlab.io/config_importing/ for the key.
GOODREADS_API_KEY=
# Deezer API Access Token (User OAuth token)
DEEZER_ACCESS_TOKEN=
# Big Finish
# Big Finish Series Mapping. This is used to map the series names Big Finish 
# uses to a more appropriate name for working with ABS and to try and merge seroes together where needed it can be customized to your own needs. 
# The default mapping is below. If you want to use your own mapping, create a file called series_mapping.json in the config 
# folder with your own mapping.
#
# Doctor stories are mapped to D[1-13] 
# Friends of the Doctor stories are mapped to F[1-8]
# Torchwood stories are mapped to T[0-3]
#
# seriesmapping=true
#
# Big Finish Character's. This flag will save the character's as tags in ABS allowing you to search for stories by character.
# characters=true
